; publicize make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; swfobject
libraries[swfobject][directory_name] = "swfobject"
libraries[swfobject][type] = "library"
libraries[swfobject][destination] = "libraries"
libraries[swfobject][download][type] = "get"
libraries[swfobject][download][url] = "" ; TODO add download URI

; underscore
libraries[underscore][directory_name] = "underscore"
libraries[underscore][type] = "library"
libraries[underscore][destination] = "libraries"
libraries[underscore][download][type] = "get"
libraries[underscore][download][url] = "" ; TODO add download URI

; imagesloaded
libraries[imagesloaded][directory_name] = "imagesloaded"
libraries[imagesloaded][type] = "library"
libraries[imagesloaded][destination] = "libraries"
libraries[imagesloaded][download][type] = "get"
libraries[imagesloaded][download][url] = "" ; TODO add download URI

; fastclick
libraries[fastclick][directory_name] = "fastclick"
libraries[fastclick][type] = "library"
libraries[fastclick][destination] = "libraries"
libraries[fastclick][download][type] = "get"
libraries[fastclick][download][url] = "" ; TODO add download URI

; placeholder
libraries[placeholder][directory_name] = "placeholder"
libraries[placeholder][type] = "library"
libraries[placeholder][destination] = "libraries"
libraries[placeholder][download][type] = "get"
libraries[placeholder][download][url] = "" ; TODO add download URI

; Views TimelineJS
libraries[timeline][directory_name] = "timeline"
libraries[timeline][type] = "library"
libraries[timeline][destination] = "libraries"
libraries[timeline][download][type] = "get"
libraries[timeline][download][url] = "https://github.com/VeriteCo/TimelineJS/archive/master.zip"

; ShadowBox
libraries[shadowbox][directory_name] = "shadowbox"
libraries[shadowbox][type] = "library"
libraries[shadowbox][destination] = "libraries"
libraries[shadowbox][download][type] = "post"
libraries[shadowbox][download][url] = "http://www.shadowbox-js.com/download"
libraries[shadowbox][download][post_data] = "format=tar&adapter=jquery&players[]=img&players[]=iframe&players[]=html&players[]=swf&players[]=flv&players[]=qt&players[]=wmp&language=en&css_support=on"
libraries[shadowbox][download][file_type] = "tar.gz"

; mediaelementjs
libraries[mediaelementjs][directory_name] = "mediaelementjs"
libraries[mediaelementjs][type] = "library"
libraries[mediaelementjs][destination] = "libraries"
libraries[mediaelementjs][download][type] = "get"
libraries[mediaelementjs][download][url] = "" ; TODO add download URI
libraries[mediaelementjs][download][post_data] = "format=tar&adapter=jquery&players[]=img&players[]=iframe&players[]=html&players[]=swf&players[]=flv&players[]=qt&players[]=wmp&language=en&css_support=on"
libraries[mediaelementjs][download][file_type] = "tar.gz"

; backbone
libraries[backbone][directory_name] = "backbone"
libraries[backbone][type] = "library"
libraries[backbone][destination] = "libraries"
libraries[backbone][download][type] = "get"
libraries[backbone][download][url] = "" ; TODO add download URI
libraries[backbone][download][post_data] = "format=tar&adapter=jquery&players[]=img&players[]=iframe&players[]=html&players[]=swf&players[]=flv&players[]=qt&players[]=wmp&language=en&css_support=on"
libraries[backbone][download][file_type] = "tar.gz"

; quail
libraries[quail][directory_name] = "quail"
libraries[quail][type] = "library"
libraries[quail][destination] = "libraries"
libraries[quail][download][type] = "get"
libraries[quail][download][url] = "" ; TODO add download URI
libraries[quail][download][post_data] = "format=tar&adapter=jquery&players[]=img&players[]=iframe&players[]=html&players[]=swf&players[]=flv&players[]=qt&players[]=wmp&language=en&css_support=on"
libraries[quail][download][file_type] = "tar.gz"

