; publicize make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; Views TimelineJS
libraries[timeline][directory_name] = "timeline"
libraries[timeline][type] = "library"
libraries[timeline][destination] = "libraries"
libraries[timeline][download][type] = "get"
libraries[timeline][download][url] = "https://github.com/VeriteCo/TimelineJS/archive/master.zip"

; ShadowBox
libraries[shadowbox][directory_name] = "shadowbox"
libraries[shadowbox][type] = "library"
libraries[shadowbox][destination] = "libraries"
libraries[shadowbox][download][type] = "post"
libraries[shadowbox][download][url] = "http://www.shadowbox-js.com/download"
libraries[shadowbox][download][post_data] = "format=tar&adapter=jquery&players[]=img&players[]=iframe&players[]=html&players[]=swf&players[]=flv&players[]=qt&players[]=wmp&language=en&css_support=on"
libraries[shadowbox][download][file_type] = "tar.gz"

; mediaelementjs
libraries[mediaelementjs][directory_name] = "mediaelementjs"
libraries[mediaelementjs][type] = "library"
libraries[mediaelementjs][destination] = "libraries"
libraries[mediaelementjs][download][type] = "get"
libraries[mediaelementjs][download][url] = "http://github.com/johndyer/mediaelement/zipball/master"

; backbone
libraries[backbone][directory_name] = "backbone"
libraries[backbone][type] = "library"
libraries[backbone][destination] = "libraries"
libraries[backbone][download][type] = "get"
libraries[backbone][download][url] = "http://backbonejs.org/backbone-min.js"

; ckeditor 4.2 + codemirror and table resize
libraries[ckeditor][download][type] = "get"
libraries[ckeditor][download][url] = "http://github.com/btopro/ckeditor4textbook/archive/2.1.zip"
libraries[ckeditor][directory_name] = "ckeditor"
libraries[ckeditor][destination] = "libraries"
